#ve3689 .TwoColorRamp {
  fill-gradient-start-color : #C7E3F9;
}
#ve140 .infoBarTextTitle {
  font-style : italic;
}
#ve310 .CustomStyle1 {
  background-color : #99d1ff;
  color : #000000;
}
#ve136 .Table {
  wrap-text : normal;
  border-style : none;
}
#ve314 .CustomStyle1 {
  background-color : #99d1ff;
  color : #000000;
}
#ve186 .tableColumnbi217 {
  width : 158px;
}
#ve140 .infoBarTextBold {
  font-weight : bold;
}
#ve320 .TwoColorRamp {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve3715 .GraphDataStyleDefault {
  fill-color : #B0B7C2;
}
#ve140 .infoBarTextUnderline {
  text-decoration : underline;
}
#ve3689 .TwoColorRamp1 {
  fill-gradient-start-color : #C7E3F9;
}
#ve3715 .GraphDataStyle2 {
  fill-color : #B14C51;
}
#ve320 .TwoColorRamp1 {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve3715 .GraphDataStyle1 {
  fill-color : #B0B7C2;
}
#ve202 .Table {
  wrap-text : normal;
  display-opts : retainnewline;
}
#ve228 .paragraph1 {
  white-space : pre-line;
}
#ve306 .paragraph1 {
  font-size : 13.5pt;;
}
#ve4045 .Table {
  wrap-text : normal;
}
#ve320 .GraphDataStyleDefault {
  marker-color : #33A3FF;
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
}
#ve320 .GraphDataStyle1 {
  marker-color : #33A3FF;
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
}
#ve320 .GraphDataStyle2 {
  fill-color : #929292;
}
