

#ve90 .span1 {
  color: #2470AD;
  font-weight: bold;
}
#ve107 .styleForTitle_span1 {
  font-weight: bold;
}
#ve90 .span2 {
  color: #2470AD;
  font-weight: bold;
}
#ve181 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve202 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve157 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve100 .span1 {
  color: #2C8AD6;
  font-style: italic;
}
#ve214 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve90 .paragraph2 {
  text-align: center;
}
#ve107 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve116 .styleForTitle_span1 {
  font-weight: bold;
}
#ve90 .paragraph1 {
  text-align: center;
}
#ve116 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve100 .paragraph1 {
  text-align: right;
}
#ve157 .styleForTitle_span1 {
  font-weight: bold;
}
#ve130 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve149 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve226 .span2 {
  color: #2470AD;
  font-weight: bold;
}
#ve149 .styleForTitle_span1 {
  font-weight: bold;
}
#ve226 .span1 {
  color: #2470AD;
  font-style: italic;
}

			