#ve15774 .paragraph1 {
  text-align : right;
}
#ve14741 .paragraph2 {
  text-align : center;
}
#ve14741 .paragraph1 {
  text-align : center;
}
#ve9121 .styleForTitle_span1 {
  font-weight : bold;
  font-size : 10pt;
}
#ve4766 .infoBarTextUnderline {
  text-decoration : underline;
}
#ve12503 .infoBarTextTitle {
  font-style : italic;
}
#ve10912 .tableColumnbi3122 {
  width : 150px;
}
#ve10912 .tableColumnbi3121 {
  fill-gradient-start-color : #7DC3FC;
  fill-gradient-end-color : #E99596;
}
#ve12508 .GraphSkin {
  data-skin : FLAT;
}
#ve3316 .TwoColorRamp {
  fill-gradient-start-color : #fff2cb;
  fill-gradient-end-color : #FFCC32;
}
#ve3100 .span1 {
  color : #2470AD;
  font-weight : bold;
}
#ve3316 .TwoColorRamp1 {
  fill-gradient-start-color : #fff2cb;
  fill-gradient-end-color : #FFCC32;
}
#ve3100 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve4766 .infoBarTextTitle {
  font-style : italic;
}
#ve12503 .infoBarTextUnderline {
  text-decoration : underline;
}
#ve15766 .tableColumnbi15771 {
  width : 417px;
}
#ve14730 .span1 {
  color : #2470AD;
  font-weight : bold;
}
#ve9950 .span3 {
  font-weight : bold;
}
#ve578 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve14730 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve578 .span1 {
  color : #2470AD;
  font-style : italic;
}
#ve4766 .infoBarTextBold {
  font-weight : bold;
}
#ve9950 .span1 {
  font-weight : bold;
  font-size : 12pt;
}
#ve9950 .paragraph2 {
  text-align : left;
}
#ve9950 .span2 {
  font-weight : bold;
}
#ve9950 .paragraph1 {
  text-align : left;
}
#ve14741 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve14741 .span1 {
  color : #2470AD;
  font-weight : bold;
}
#ve20854 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve20854 .span1 {
  color : #2470AD;
  font-style : italic;
}
#ve14730 .paragraph1 {
  text-align : center;
}
#ve14730 .paragraph2 {
  text-align : center;
}
#ve3100 .paragraph1 {
  text-align : center;
}
#ve3100 .paragraph2 {
  text-align : center;
}
#ve9964 .paragraph2 {
  text-align : center;
}
#ve9964 .paragraph1 {
  text-align : center;
}
#ve9964 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve20848 .span1 {
  color : #2470AD;
  font-style : italic;
}
#ve3112 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve9964 .span1 {
  color : #2470AD;
  font-weight : bold;
}
#ve20848 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve3112 .span1 {
  color : #2470AD;
  font-style : italic;
}
#ve20860 .span1 {
  color : #2470AD;
  font-style : italic;
}
#ve14713 .paragraph1 {
  text-align : center;
}
#ve15774 .span2 {
  color : #2C8AD6;
}
#ve14713 .paragraph2 {
  text-align : center;
}
#ve15774 .span1 {
  color : #2C8AD6;
}
#ve14713 .span1 {
  color : #2470AD;
  font-weight : bold;
}
#ve14713 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve12503 .infoBarTextBold {
  font-weight : bold;
}
#ve20860 .span2 {
  color : #2470AD;
  font-weight : bold;
}
#ve3224 .paragraph1 {
  white-space : pre-line;
}
#ve3302 .paragraph1 {
  font-size : 13.5pt;;
}
#ve23263 .Table {
  wrap-text : normal;
}
#ve23277 .Table {
  wrap-text : normal;
  display-opts : retainnewline;
}
#ve22594 .tableColumnbi22598 {
  width : 200px;
}
#ve22594 .ReportElementContainer {
  padding : 8px;
}
#ve23312 .Table {
  wrap-text : normal;
  display-opts : retainnewline;
}
#ve23315 .Table {
  wrap-text : normal;
  display-opts : retainnewline;
}
#ve3306 .CustomStyle2 {
  background-color : #ffe598;
  color : #000000;
}
#ve3310 .CustomStyle2 {
  background-color : #ffe598;
  color : #000000;
}
#ve3316 .GraphDataStyleDefault {
  marker-color : #FFCC32;
  text-color : #FFCC32;
  fill-color : #FFCC32;
  line-color : #FFCC32;
}
#ve3316 .GraphDataStyle1 {
  marker-color : #FFCC32;
  text-color : #FFCC32;
  fill-color : #FFCC32;
  line-color : #FFCC32;
}
#ve3316 .GraphDataStyle2 {
  fill-color : #929292;
}
